<h1>Book <%= @space.name %> </h1>
<h2><%= @space.description %></h2>
<h3>Price per night: <%= @space.price_per_night.to_i %></h3>
<h4>Available from: <%= @space.date_from %> : Available to: <%= @space.date_to %> </h4>
  <form class="" action="/booking/create" method="post">
    <input type="hidden" name="space_id" value="<%=@space.id%>">
    <label for='date_rental'>Choose Date:</label>
     <input name='date_rental' type='date' min='<%= @space.date_from %>' max='<%= @space.date_to %>' required>
    <input type="submit" id="booking" value="Make Booking">
  </form>
