
<script type="text/javascript">
// Example array for now - need to pull this in from Ruby DB

var unavailable_array = <%= Booking.confirmed_booking_dates(@space.id) %>

// Date from should be todays date if from is before today

var date_from = new Date('<%= @space.date_from %>')
var date_to = new Date('<%= @space.date_to %>')

</script>

<script src="/js/booking_datepicker.js" charset="utf-8"></script>


<h1>Book <%= @space.name %></h1>
<h2><%= @space.description %></h2>
<h3>Price per night: <%= @space.price_per_night.to_i %></h3>
<h4>Available from: <%= @space.date_from %> : Available until: <%= @space.date_to %></h4>
  <form action="/booking/create" method="post">
    <input type="hidden" name="space_id" value="<%=@space.id%>">
    <div class="form-group">
    <label for='date_rental'>Choose Date:</label>
    <input class="form-control" name='date_rental' id="datepicker" required>
    </div>
    <input  class="btn btn-default" type="submit" id="booking" value="Make Booking">
  </form>
